<div class="row">
    <div class="col-xs top-navigation">

      <div class="row col-xs">
        <div class="menu col-xs col-sm-4 col-md-4 col-lg-4">
          <div class="itemMenu">
            <a [routerLink]="['/']"> Home </a>
          </div>
          <div class="itemMenu">
            <a href=""> Contac </a>
          </div>
        </div>
        <div class="col-sx col-sm-4 col-md-4 col-lg-4"></div>
        <div class="social col-xs col-sm-4 col-md-4 col-lg-4">
          <div class="itemSocial">
            <a href=""><i class="icosocial icon-brand71"></i> </a>
          </div>
          <div class="itemSocial">
            <a href=""><i class="icosocial icon-lock"></i> </a>
          </div>
        </div>
      </div>


    </div>
  </div>

  <div class="row">

    <div class="col-xs header-wrapper">
      <div class="logo col-xs">
        <div class="titulos">
          <h1 class="titulo"> tystab</h1>
          <p class="subtitulo">Una dosis de códio por día</p>
        </div>
        <!-- <img src="http://systab.herokuapp.com/static/images/logo.png" alt=""> -->
      </div>
    </div>
  </div>

  <div class="row middle-xs boxMenu">
    <div class="col-xs col-sm-8">
      
      <nav>
        <ul>
          <li><a [routerLink]="['/']">Index</a></li>
          <li><a href="#" class="text-menu">Nosotros</a></li>
          <li><a href="#" class="text-menu">Servicios</a></li>
          <li><a href="#" class="text-menu">Contáctanos</a></li>
        </ul>
      </nav>


    </div>
    <div class="boxbusqueda col-xs col-sm-4">
      <form action="" method="" class="formBusqueda">
      <input id="search-box" name="q" onblur="if(this.value=='')this.value=this.defaultValue;" onfocus="if(this.value==this.defaultValue)this.value='';" type="text" value="Search...">
      <input id="search-button" type="submit">
    </form>
    </div>
  </div>